.App {
  text-align: center;
}

body {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-brand {
  height: 5vmin;
  padding: 1.5vmin 3vmin 1.5vmin 3vmin;
}

.main-nav {
  background-color: #16171a;
  display: flex;  
  align-items: center;
  justify-content: left;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-tabs {
  padding: 1.5vmin 5vmin 1.5vmin 3vmin;
  text-decoration: none;
  color: #a7a9b1;
  font-size: 3em;
  font-family: 'Big Shoulders Display', 'Montserrat', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-title {
  text-align: center;
  font-family: 'Big Shoulders Display', 'Montserrat', sans-serif;
  font-size: 4em;
}

.page {
  width: 70%;
  background-color: rgb(39, 39, 39);
  height: 100%;
  margin: 0 auto;
  padding: 3% 1% 1% 1%;
  color: #a7a9b1;
  border-radius: 0 0 2.5em 2.5em;
}

html {
  background-color: rgb(68, 68, 68);
  display: flex;
  background-image: url('./images/1.png');
  background-size: 100% auto;
  height: 280%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9 !important;
}

#nav {
  z-index: 10 !important;
}

.centre {
  text-align: center;
}

.hotswap {
  display: flex;
  margin-bottom: 0.5em;
  /* background-color: rgba(150,150,150,0.1); */
}

.hotswap h2 {
  padding: 0.5em 0em 0em;
  width: 50%;
  display: grid;
  justify-content: center;
  justify-self: center;
  border-bottom: 2pt solid rgba(0, 0, 0, 0);  
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

.hotswap h2:hover {
  border-bottom-color: #ef8376;
}
