.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-title {
  text-align: center;
  font-family: 'Big Shoulders Display', 'Montserrat', sans-serif;
  font-size: 4em;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9 !important;
}

#nav {
  z-index: 10 !important;
}

.centre {
  text-align: center;
}

.hotswap {
  display: flex;
  margin-bottom: 0.5em;
  /* background-color: rgba(150,150,150,0.1); */
}

.hotswap h2 {
  padding: 0.5em 0em 0em;
  width: 50%;
  display: grid;
  justify-content: center;
  justify-self: center;
  border-bottom: 2pt solid rgba(0, 0, 0, 0);  
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

.hotswap h2:hover {
  border-bottom-color: #ef8376;
}